/* src/components/ImageSlider.css */


.imageslider-container {
    height: auto;
    padding-top: 3em;
    transition: all var(--media-transition);
}

.slide {
    transform: scale(0.7);
    transition: transform 300ms;
    opacity: 0.5;
    border-radius: var(--default-box-radius);
    box-shadow: 0 8px 16px 0 var(--color-5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideWrapper {
    display: flex;
    justify-content: center;
    bottom: 0;
}

.slideWrapper img {
    height: 25em;
    width: 20em;
}

.prevArrow {
    position: absolute;
    top: 7.5em;
    left: 0;
    z-index: 99;
    cursor: pointer;
    font-size: 2rem;
}

.nextArrow {
    position: absolute;
    top: 7.5em;
    right: 0;
    z-index: 99;
    cursor: pointer;
    font-size: 2rem;
}

.activeSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 var(--color-5);
    border-radius: var(--default-box-radius);

}

.slideText {
    text-align: center;
    padding: 0 2em;

}






@media (max-width: 1000px) {


    .slideWrapper img {
        height: 20em;
        width: 15em;
    }
}


@media (max-width: 800px) {



    .activeSlide {
        width: auto;
        margin: auto 10%;
      
    }

    .slideWrapper img {
        height: 20em;
        width: 15em;
    }

    .prevArrow {
        top: 6em;

    }

    .nextArrow {
        top: 6em;

    }
}