.my-navbar {
  background-color: var(--color-4);
  height: 5em;
  width: 100%;
  padding: 0;
  margin: 0;
  position: sticky;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;


}

.nav-container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10em;
  background-color: white;
}

.nav-logo-link {
  list-style: none;
  padding-left: 1em;
  width: 86px;
  height: 45px;
  font-family: Philosopher;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  cursor: pointer;
  /* identical to box height */


}

.nav-logo {
  background: -webkit-linear-gradient(rgb(0, 16, 245), rgb(240, 240, 240));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-container-right {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  font-size: 1.5rem;

}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  z-index: 1000;
}

.nav-links {
  padding-right: 0;
  color: var(--color-3);
  font-weight: 500;
  text-decoration: none;
  height: 100%;
  text-align: center;

}

.fa-code {
  margin-left: 1rem;

}

.nav-item {
  line-height: 30px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto .5em;
  flex-direction: column;

}

.nav-links.active {


}

.nav-links:hover {
  color: white;
}

.nav-item:after {

  content: "";
  display: block;
  height: 1px;
  width: 0;
  padding: 0;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: white;
}


.hamburger {
  display: none;
}


.nav-change-on-scroll {
  background: rgba(82,105,127, .5) ;
    color: black;
    transition: all var(--media-transition);
}
.nav-change-on-scroll .nav-links{
  color: black;
  font-weight: 900;
} 



.nav-change-on-scroll .nav-menu.active{
  border-top: 1px solid black;
  color: black;
  background: rgba(82,105,127, .5);

}
.nav-change-on-scroll .hamburger {
  color: black;
}
.nav-change-on-scroll .nav-item:hover:after  {
  background: black;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--color-3);
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 0;
    transition: all 0.5s ease;
    padding-bottom: .6em;
  }

  .nav-menu.active {
    background: var(--color-4);
    left: 0;
    opacity: 1;
    animation: fadeIn 1s;
    transition: all 0.5s ease;
    z-index: 1;

  }



  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    color: var(--color-3);

  }


  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    transform: translate(-15%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-3);

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}