.footer{
    height: auto;
    width: 100%;
    background-color: var(--color-4);
    display: flex;
    padding-bottom: 0;
    flex-direction: column;
    color: var(--color-3);
    }

.footer-content{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer-title {
    background: -webkit-linear-gradient(rgb(0, 16, 245), rgb(240, 240, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-text{

}

.footer-copyright{
    bottom: 0;
    text-align: center;

    margin-bottom: 0;
   
}

.footer-icons .icon {
    color: white;
    margin: auto 1em;
    font-size: 2em;
}