* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.MuiFab-label{
  color: var(--default-color-3);
}
.MuiButtonBase-root{
  z-index: 1001;
  background-color: var(--default-color-4) !important;
  position:fixed !important;
  bottom:auto !important;
  right:0 !important;
  left: auto !important;
  top: 6em !important;
}



:root {
  --default-section-height: 40em;
  --default-section-color: #4D4DFF;
  --default-image-height: 100em;
  --default-image-width: 100em;
  --default-box-radius: 100%;
  --default-span-color: #4D4DFF;
  --default-btn-color: #4D4DFF;
  --default--background--color: #004e7a;
  --default--font--color: white;
  --default-color-1: #787B7F;
  --default-color-2: #A2D1FF;
  --default-color-3: #F0F7FF;
  --default-color-4: #52697F;
  --default-color-5: #C0C6CC;
}



.section {
  height: 50em;
  width: 100%;
  background-color: white;
}


.section img {
  max-height: var(--default-image-height);
  max-width: var(--default-image-width);
  height: 30em;
  width: 44em;
  border-radius: var(--default-box-radius);
}

span {
  color: var( --default-color-2);
}

.btn {
  padding: .5em;
  bottom: 0;
  margin: 2em 1em;
  background-color: var(--default-color-4);
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  outline: none;
  border: none;
  
}

.btn:hover {
  box-shadow: 1px 2px 2px  var(--default-color-2);
  transition: .3s ease;
}

ul  {
  text-decoration: center;
  cursor: pointer;
  list-style-type: none;

}


/*Hero*/
.hero-title {
  font-size: 5rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--default-color-3);

  /* background-color: aliceblue; */
}

.hero-content {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  font-size: 1rem;
  height: 30em;
  justify-content: center;
  align-items: center;
  border-radius: 4em 1em 6em 6em;



}

.hero-text {
  font-size: 1.5rem;
  padding: 2rem;
  width: 20em;
}


.hero-img {
  padding: 1em;
  margin: auto;
 
}

.hero-img img {
  border-radius: 2em 8em;
  width: 44em;
  height: 30em;
}

.hero-btn-service{
  background-color: var(--default-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-buttons{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.hero-buttons button{
width: 8em;
}
@media screen and (max-width: 1200px) {

  .hero{
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero-img {
    width: 40em;
    height: 25em;
  }

  .hero-img img{
    width: 40em;
    height: 25em;
  }
}

@media screen and (max-width: 1000px) {



  .hero-img {
    width: 40em;
    height: 25em;
  }

  .hero-img img{
    width: 40em;
    height: 25em;
  }
}

@media screen and (max-width: 800px) {



}

/*End of Hero*/