*{
  margin: 0;
  padding: 0;
}
::root {
--default-section-height:40em ;
--default-section-color: #4D4DFF;
--default-image-height: 100em;
--default-image-width: 100em;
--default-box-radius: 100%;
--default-span-color: #4D4DFF;
--default-btn-color: #4D4DFF;
}

.section{
  height: 50em;
  width: 100%;
background-color: white;
}

.section img{
  max-height: var(--default-image-height);
  max-width: var(--default-image-width);
  height: 30em;
  width: 44em;
  border-radius: var(--default-box-radius);
}

span{
  color: rgb(0, 7, 109);
}

.btn{
  padding: .5em;
  bottom: 0;
  margin-top: 3em;
  background-color: aliceblue;
  font-size: 1.5rem;
  color: black;
text-decoration: none;
border-radius: 1rem;
outline: none;
border: none;
}

.btn:hover{
  box-shadow: 0 0 1px 2px rgb(204, 204, 204);
}

.hero-title{
  font-size: 4rem;
}
/*Hero*/

.hero{
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
}

.hero-content{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  font-size: 1rem;
  height: 30em;
  justify-content: center;
  align-items: center; 
  background-color: white;
  border-radius: 4em 1em 6em 6em;


  
}

.hero-text{
  font-size: 1.5rem;
  padding: 2rem;
  width: 20em;
  margin: 1em 3em;
}


.hero-img {
    padding: 1em;
   margin: auto;
}

.hero-img img{
border-radius: 2em 8em;
}

@media screen and (max-width: 1200px) {
  
  .hero{
    flex-direction: column;
  }
}
/*End of Hero*/